.header__btn, .tradition__btn, .geo__btn-locations, .geo__btn-franchise {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #131313;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.condition:hover, .geo__btn-locations:hover {
  background: #0A8817;
}

.condition:focus, .geo__btn-locations:focus, .geo__btn-franchise:focus {
  background: #0A8817;
  color: #FCFCFC;
}
.condition:focus::after, .geo__btn-locations:focus::after, .geo__btn-franchise:focus::after {
  background-image: url(../images/white-button-arrow.svg);
}

.condition:disabled, .geo__btn-locations:disabled, .geo__btn-franchise:disabled {
  background: #ABABAB;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #FCFCFC;
}

.container {
  max-width: 1188px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background: #84A278;
}
.header__top {
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
.header__burger-cross {
  display: none;
}
.header__burger-btn {
  width: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  height: 20px;
  display: none;
}
.header__burger-btn::before {
  content: '';
  position: absolute;
  top: 2px;
  width: 100%;
  height: 2px;
  background-color: #FCFCFC;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__burger-btn::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #FCFCFC;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__burger-btn span {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 2px;
  background-color: #FCFCFC;
}
.header__burger-btn.header__burger-line--close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}
.header__burger-btn.header__burger-line--close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 40%;
}
.header__burger-btn.header__burger-line--close span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
  font-weight: 700;
  line-height: 20px;
}
.header__nav-item {
  z-index: 1;
}
.header__nav-link {
  line-height: 20px;
}
.header__nav-link:hover {
  color: #F8D24E;
}
.header__btn {
  padding: 12px 53px 12px 34px;
  background-color: #F8D24E;
  position: relative;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  z-index: 1;
}
.header__btn::after {
  content: '';
  position: absolute;
  background-image: url(../images/button-arrow.svg);
  background-repeat: no-repeat;
  left: 110px;
  width: 12px;
  height: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__btn-burger {
  display: none;
}
.header__ice {
  position: relative;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}
.header__ice-info {
  width: 367px;
  z-index: 1;
}
.header__ice-title {
  font-size: 38px;
  line-height: 48px;
  font-family: 'Seymour One', sans-serif;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.header__ice-product {
  font-weight: 600;
  color: #131313;
  padding: 10px 32px;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  margin-right: 34px;
}
.header__ice-product:hover {
  border: 2px solid #0A8817;
}
.header__ice-product:focus {
  border: 2px solid #0A8817;
  color: #FCFCFC;
}
.header__ice-product:disabled {
  border: 2px solid #ABABAB;
}
.header__ice-how {
  font-weight: 600;
  color: #F8D24E;
  text-decoration: underline;
}
.header__ice-how:hover {
  color: #0A8817;
}
.header__ice-how:focus {
  color: #FCFCFC;
}
.header__ice-how:disabled {
  color: #ABABAB;
}
.header__ice-number {
  font-weight: 900;
  font-size: 46px;
  line-height: 56px;
  color: #131313;
  text-align: right;
}
.header__ice-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #FCFCFC;
}
.header__plate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  padding-bottom: 65px;
}
.header__plate-logo {
  text-align: center;
  -webkit-animation: circle 10s infinite linear;
          animation: circle 10s infinite linear;
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.header__plate-content {
  width: 200px;
  z-index: 10;
}
.header__plate-text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;
  margin-top: 67px;
}
.header__plate-img {
  cursor: pointer;
}
.header__dots {
  position: absolute;
  top: 153px;
}
.header__ice-cream {
  position: absolute;
  top: -132px;
  right: 15px;
}

.products {
  background-image: url(../images/products-bg.png);
  background-repeat: no-repeat;
}
.products__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  color: #131313;
  text-transform: uppercase;
  padding-top: 60px;
  margin-bottom: 12px;
  text-align: center;
}
.products__title span {
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  display: block;
}
.products__content {
  margin-top: 303px;
  padding-bottom: 57px;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.products__item {
  background: #AEC6A5;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 370px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
}
.products__item:nth-child(2) {
  background: #EFD478;
}
.products__item:nth-child(3) {
  background: #D6936D;
}
.products__item-img {
  position: absolute;
  top: -39%;
}
.products__item-title {
  padding: 166px 0 65px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #131313;
}
.products__item-text {
  line-height: 28px;
  color: #131313;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 64px 60px 64px;
}
.products__item-link {
  background-image: url(../images/arrow-cards.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 30px;
  margin: 0 auto;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.products__item-link:hover {
  background-image: url(../images/arrow-cards2.svg);
}
.products__item-link:focus {
  background-image: url(../images/arrow-cards3.svg);
}
.products__item-arrow:hover {
  width: 50;
}

.tradition {
  background: #84A178;
  padding: 60px 0 180px;
}
.tradition__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 12px;
}
.tradition__title span {
  font-family: 'Seymour One', sans-serif;
  display: block;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.tradition__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 82px;
  margin-bottom: 60px;
}
.tradition__box {
  width: 463px;
}
.tradition__text {
  line-height: 28px;
  letter-spacing: 0.04em;
}
.tradition__btn {
  padding: 12px 53px 12px 34px;
  background-color: #F8D24E;
  position: relative;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
  cursor: pointer;
  margin-top: 48px;
}
.tradition__btn::after {
  content: '';
  position: absolute;
  background-image: url(../images/button-arrow.svg);
  background-repeat: no-repeat;
  left: 118px;
  width: 12px;
  height: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tradition__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.tradition__info-item {
  text-align: center;
}
.tradition__info-box {
  background: #F8D24E;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.tradition__info-number {
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 40px 0 16px;
}
.tradition__info-text {
  line-height: 28px;
  letter-spacing: 0.02em;
}

.sliders {
  background-image: url(../images/slider-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sliders__photo {
  max-width: 1013px;
  margin: 0 auto;
  position: relative;
  top: -95px;
}
.sliders__photo-img {
  margin: 0 auto;
  border-radius: 24px;
  width: 1013px;
  height: 442px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider {
  padding-bottom: 200px;
}
.slider__img {
  margin: 0 auto;
  padding-bottom: 32px;
}
.slider__text {
  background: #84A178;
  border-radius: 24px;
  text-align: center;
  margin: 0 auto;
  padding: 39px 73px;
  color: #FCFCFC;
  max-width: 750px;
}
.slider__name-geo {
  text-align: center;
  color: #131313;
  margin: 32px 0 15px 0;
}

.slick-dots {
  position: relative;
  top: 0;
}

.slick-dots li button {
  color: #D9D9D9;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slick-dots li.slick-active button:before {
  color: #84A178;
}

.geo {
  background: #84A178;
}
.geo__content {
  position: relative;
  top: -96px;
}
.geo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}
.geo__item {
  padding: 40px;
  max-width: 368px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  line-height: 30px;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.geo__box-title {
  display: inline-block;
  background: #F8D24E;
  padding: 10px 11px 7px 11px;
  border-radius: 6px;
  margin-bottom: 32px;
}
.geo__title {
  color: #131313;
  text-transform: uppercase;
}
.geo__city {
  color: #131313;
  margin-bottom: 8px;
  font-weight: 500;
}
.geo__address {
  display: inline-block;
  color: #D6936D;
  padding-bottom: 32px;
}
.geo__address:hover {
  text-decoration: underline;
}
.geo__day-first {
  padding-top: 32px;
  color: #131313;
  position: relative;
}
.geo__day-first::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  top: 0;
}
.geo__day-second {
  margin-top: 12px;
  color: #131313;
  position: relative;
}
.geo__day-second::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  top: 92px;
}
.geo__time {
  color: #ABABAB;
}
.geo__tel {
  display: inline-block;
  color: #131313;
  margin-top: 64px;
}
.geo__mail {
  color: #131313;
}
.geo__btn-box {
  max-width: 410px;
  margin: 0 auto;
  margin-top: 64px;
}
.geo__btn-locations {
  background: #F8D24E;
  border-radius: 10px;
  padding: 12px 52px 12px 34px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 16px;
}
.geo__btn-locations::after {
  content: '';
  position: absolute;
  background-image: url(../images/button-arrow.svg);
  background-repeat: no-repeat;
  left: 150px;
  width: 12px;
  height: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .3s;
  transition: .3s;
}
.geo__btn-franchise {
  padding: 10px 63px 10px 46px;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}
.geo__btn-franchise::after {
  content: '';
  position: absolute;
  background-image: url(../images/button-arrow.svg);
  background-repeat: no-repeat;
  left: 138px;
  width: 12px;
  height: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .3s;
  transition: .3s;
}
.geo__btn-franchise:hover {
  border: 2px solid #0A8817;
}
.geo__btn-franchise:focus {
  background: transparent;
}
.geo__btn-franchise:disabled {
  background: transparent;
}

.footer {
  background: #84A178;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__content::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #E1E1E1;
  bottom: 0;
}
.footer__title {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.footer__title span {
  display: block;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 34px;
  height: 34px;
  background: #F8D24E;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}
.footer__item:hover .footer__img path {
  fill: #FCFCFC;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__img {
  -webkit-transition: .3s;
  transition: .3s;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding-bottom: 54px;
}
.footer__contacts-text {
  letter-spacing: 0.02em;
  color: #131313;
  font-weight: 700;
}
.footer__contacts-tel {
  letter-spacing: 0.02em;
  color: #FCFCFC;
  font-weight: 700;
}
.footer__copyright {
  padding: 12px 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #7A7A7A;
  text-align: center;
}

.popupone {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.popupone__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popupone__active {
  opacity: 1;
  visibility: visible;
}
.popupone__buy-body {
  width: 564px;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  -webkit-transition: all .8s;
  transition: all .8s;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin: 0 20px;
}
.popupone__buy-content {
  position: relative;
}
.popupone__animation {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.popupone__buy-cross {
  position: absolute;
  font-size: 45px;
  color: #131313;
  top: -12px;
  right: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.popupone__buy-cross:hover {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.popupone__buy-title {
  font-family: 'Seymour One';
  font-size: 20px;
  color: #131313;
  text-align: center;
  margin: 32px 0 103px;
}
.popupone__buy-box {
  margin-bottom: 40px;
}
.popupone__buy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}
.popupone__buy-item--cream {
  border: 2px solid #96AF8C;
  -webkit-filter: drop-shadow(0px 5px 19px rgba(212, 20, 67, 0.1));
          filter: drop-shadow(0px 5px 19px rgba(212, 20, 67, 0.1));
  border-radius: 16px;
  width: 132px;
  height: 135px;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  cursor: pointer;
}
.popupone__buy-item--cream:hover {
  background-color: #96AF8C;
}
.popupone__buy-item--coffee {
  border: 2px solid #EFD478;
  -webkit-filter: drop-shadow(0px 5px 19px rgba(212, 20, 67, 0.1));
          filter: drop-shadow(0px 5px 19px rgba(212, 20, 67, 0.1));
  border-radius: 16px;
  width: 132px;
  height: 135px;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  cursor: pointer;
}
.popupone__buy-item--coffee:hover {
  background-color: #EFD478;
}
.popupone__buy-item--milkshake {
  border: 2px solid #D6936D;
  -webkit-filter: drop-shadow(0px 5px 19px rgba(212, 20, 67, 0.1));
          filter: drop-shadow(0px 5px 19px rgba(212, 20, 67, 0.1));
  border-radius: 16px;
  width: 132px;
  height: 135px;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  cursor: pointer;
}
.popupone__buy-item--milkshake:hover {
  background-color: #D6936D;
}
.popupone__buy-img {
  position: absolute;
  width: 131px;
  top: -60%;
  z-index: 1;
}
.popupone__buy-img--green {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  position: absolute;
  width: 130px;
  height: 130px;
  top: -55%;
}
.popupone__buy-img--yellow {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
  position: absolute;
  width: 130px;
  height: 130px;
  top: -55%;
}
.popupone__buy-img--orange {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(213, 117, 63, 0.7)), to(rgba(213, 117, 63, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  width: 130px;
  height: 130px;
  top: -55%;
}
.popupone__buy-text {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 700;
  color: #131313;
  margin-top: 95px;
  text-align: center;
}
.popupone__buy-form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  width: 368px;
}
.popupone__buy-name {
  font-size: 14px;
  padding: 11px 16px;
  color: #131313;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
}
.popupone__buy-textarea {
  font-size: 14px;
  padding: 11px 16px 53px 16px;
  color: #131313;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  resize: none;
}
.popupone__buy-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
  padding: 12px 34px;
  background: #F8D24E;
  border-radius: 10px;
  border: none;
  margin: 32px auto;
  display: block;
  cursor: pointer;
}

.popuptwo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.popuptwo__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popuptwo__body {
  width: 564px;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  -webkit-transition: all .8s;
  transition: all .8s;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin: 0 20px;
}
.popuptwo__animation {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.popuptwo__active {
  opacity: 1;
  visibility: visible;
}
.popuptwo__content {
  position: relative;
}
.popuptwo__cross {
  position: absolute;
  font-size: 45px;
  color: #131313;
  top: -12px;
  right: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.popuptwo__cross:hover {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.popuptwo__title {
  font-family: 'Seymour One';
  font-size: 20px;
  color: #131313;
  margin: 32px 0 24px;
  text-align: center;
}
.popuptwo__img {
  margin-bottom: 24px;
  margin: 0 auto;
}
.popuptwo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
}
.popuptwo__item {
  border: 2px solid #9CBE8F;
  border-radius: 40px;
  width: 61px;
  height: 90px;
}
.popuptwo__item-title {
  margin: 7px 0 14px;
  font-size: 12px;
  line-height: 15px;
  color: #131313;
  text-align: center;
}
.popuptwo__item-box {
  width: 53px;
  height: 53px;
  background: #9CBE8F;
  border: 2px solid #9CBE8F;
  -webkit-box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.popuptwo__item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  color: #131313;
}
.popuptwo__list-title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #131313;
  margin-top: 48px;
}
.popuptwo__ingredients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
  width: 488px;
  margin: 24px auto;
}
.popuptwo__ingredients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popuptwo__ingredient {
  line-height: 25px;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #131313;
}
.popuptwo__size {
  line-height: 25px;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #131313;
}

.popupthree {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.popupthree__area {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.popupthree__body {
  width: 568px;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  -webkit-transition: all .8s;
  transition: all .8s;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin: 0 20px;
}
.popupthree__animation {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.popupthree__active {
  opacity: 1;
  visibility: visible;
}
.popupthree__content {
  position: relative;
}
.popupthree__cross {
  position: absolute;
  font-size: 45px;
  color: #131313;
  top: -12px;
  right: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.popupthree__cross:hover {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.popupthree__title {
  font-family: 'Seymour One';
  font-size: 20px;
  margin: 32px 0;
  color: #131313;
  text-align: center;
}
.popupthree__video {
  width: 448px;
  height: 205px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.popupthree__text {
  width: 448px;
  line-height: 22px;
  color: #131313;
  padding: 32px 0;
  display: block;
  margin: 0 auto;
}

.popupfour {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.popupfour__area {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.popupfour__body {
  width: 568px;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  -webkit-transition: all .8s;
  transition: all .8s;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin: 0 20px;
}
.popupfour__animation {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.popupfour__active {
  opacity: 1;
  visibility: visible;
}
.popupfour__content {
  position: relative;
  text-align: center;
}
.popupfour__cross {
  position: absolute;
  font-size: 45px;
  color: #131313;
  top: -12px;
  right: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.popupfour__cross:hover {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.popupfour__title {
  font-family: 'Seymour One';
  font-size: 20px;
  margin: 32px 0;
  color: #131313;
  text-align: center;
}
.popupfour__map {
  width: 448px;
  height: 260px;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}
.popupfour__link {
  margin: 32px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
  background: #F8D24E;
  padding: 12px 34px;
  border-radius: 10px;
  display: inline-block;
}

.popupfive {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.popupfive__area {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.popupfive__body {
  width: 568px;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  -webkit-transition: all .8s;
  transition: all .8s;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin: 0 20px;
}
.popupfive__animation {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.popupfive__active {
  opacity: 1;
  visibility: visible;
}
.popupfive__content {
  position: relative;
  text-align: center;
}
.popupfive__cross {
  position: absolute;
  font-size: 45px;
  color: #131313;
  top: -12px;
  right: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.popupfive__cross:hover {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.popupfive__title {
  font-family: 'Seymour One';
  font-size: 20px;
  margin: 32px auto 24px;
  color: #131313;
  text-align: center;
  width: 322px;
}
.popupfive__text {
  width: 448px;
  color: #131313;
  margin: 0 auto;
  text-align: start;
  margin-bottom: 32px;
}
.popupfive__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.popupfive__input {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  width: 368px;
  padding: 11px 16px;
  line-height: 20px;
  font-size: 14px;
  color: #131313;
}
.popupfive__textarea {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  width: 368px;
  padding: 11px 16px 53px 16px;
  line-height: 20px;
  font-size: 14px;
  color: #131313;
  margin-bottom: 32px;
  resize: none;
}
.popupfive__btn {
  background: #F8D24E;
  border-radius: 10px;
  padding: 12px 34px;
  border: none;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

@media (max-width: 769px) {
  .header__btn {
    margin-left: 38px;
  }
  .header__burger-btn {
    display: block;
    margin-left: auto;
  }
  .header__burger-cross {
    display: block;
    z-index: 12;
    position: absolute;
    right: 32px;
    top: 32px;
    font-size: 50px;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header__burger-cross--active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__logo {
    width: 41px;
    height: 44px;
  }
  .header__nav {
    position: absolute;
    background: #85A279;
    width: 100%;
    height: 100vh;
    z-index: 11;
    top: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header__nav--active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header__top {
    position: relative;
  }
  .header__link-logo {
    z-index: 12;
  }
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    margin-top: 140px;
  }
  .header__nav-link {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
  }
  .header__nav-link:hover {
    color: #131313;
  }
  .header__ice-title {
    width: 185px;
    font-size: 18px;
    line-height: 23px;
  }
  .header__ice-title span {
    font-size: 24px;
    line-height: 13px;
  }
  .header__ice-product {
    padding: 7px 10px;
    font-size: 8px;
    line-height: 10px;
  }
  .header__ice-how {
    font-size: 8px;
    line-height: 10px;
  }
  .header__ice-number {
    font-size: 28px;
    line-height: 34px;
  }
  .header__ice-text {
    font-size: 8px;
    line-height: 10px;
  }
  .header__ice-item {
    margin-bottom: 20px;
  }
  .header__ice-cream {
    height: 500px;
    top: -48px;
  }
  .header__plate {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__plate-logo {
    width: 152px;
    height: 152px;
  }
  .header__plate-text {
    width: 151px;
    font-size: 12px;
    line-height: 17px;
    margin: 0 0 15px 0;
  }
  .header__dots {
    display: none;
  }

  .products__content {
    margin-top: 200px;
  }
  .products__item {
    width: 240px;
    padding-bottom: 0;
  }
  .products__item-title {
    font-size: 22px;
    line-height: 27px;
    padding: 107px 0 40px;
  }
  .products__item-text {
    font-size: 14px;
    line-height: 25px;
    padding: 0 28px 87px 28px;
  }

  .tradition {
    padding-bottom: 204px;
  }
  .tradition__img {
    width: 336px;
    height: 356px;
  }
  .tradition__text {
    font-size: 12px;
    line-height: 21px;
  }
  .tradition__info-number {
    font-size: 48px;
    line-height: 59px;
  }
  .tradition__info-text {
    font-size: 14px;
    line-height: 24px;
  }
  .tradition__info-item {
    width: 152px;
  }
  .tradition__info-list {
    gap: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sliders__photo-img {
    width: 704px;
    height: 327px;
  }
  .sliders__photo {
    top: -165px;
  }

  .slider {
    margin-bottom: 383px;
  }
  .slider__text {
    max-width: 705px;
    padding: 28px 80px;
  }

  .geo__item {
    max-width: 224px;
    padding: 40px 24px;
    font-size: 14px;
    line-height: 26px;
  }
  .geo__box-title {
    font-size: 16px;
    line-height: 30px;
  }
  .geo__address {
    padding-bottom: 26px;
  }
  .geo__list {
    margin-bottom: 60px;
  }

  .footer {
    margin-top: -60px;
  }
  .footer__title {
    font-size: 26px;
    line-height: 32px;
    width: 352px;
  }
  .footer__title span {
    font-size: 48px;
    line-height: 59px;
  }
  .footer__contacts {
    font-size: 14px;
    line-height: 26px;
    margin-top: 32px;
    padding-bottom: 0;
  }
}
@media (max-width: 481px) {
  .header__btn {
    padding: 10px 34px;
    font-size: 13px;
    line-height: 16px;
  }
  .header__ice-cream {
    height: 350px;
    top: 82px;
    right: 0;
  }
  .header__plate-text {
    display: none;
  }
  .header__plate-link {
    display: none;
  }
  .header__nav-link {
    font-size: 35px;
    line-height: 50px;
  }

  .popupone__buy-name {
    font-size: 13px;
    padding: 4px 10px;
  }
  .popupone__buy-textarea {
    font-size: 13px;
    padding: 5px 10px 30px 10px;
  }
  .popupone__buy-img {
    width: 115px;
  }
  .popupone__buy-img--green, .popupone__buy-img--yellow, .popupone__buy-img--orange {
    width: 115px;
    height: 115px;
  }
  .popupone__buy-item--cream, .popupone__buy-item--coffee, .popupone__buy-item--milkshake {
    width: 120px;
    height: 120px;
  }
  .popupone__buy-text {
    margin-top: 85px;
  }

  .products {
    background-size: cover;
  }
  .products__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 180px;
  }
  .products__item-img {
    top: -28%;
  }
  .products__item-text {
    height: 237px;
  }

  .popuptwo__ingredients-list {
    width: 300px;
  }
  .popuptwo__title {
    font-size: 17px;
    margin: 18px 0 13px;
  }
  .popuptwo__img {
    width: 155px;
  }
  .popuptwo__body {
    width: 385px;
  }

  .tradition__title {
    font-size: 26px;
    line-height: 30px;
  }
  .tradition__title span {
    font-size: 30px;
    width: 245px;
    margin: 0 auto;
  }
  .tradition__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    gap: 55px;
  }
  .tradition__box {
    width: 300px;
    text-align: center;
  }
  .tradition__info-list {
    gap: 35px;
  }
  .tradition__info-number {
    font-size: 43px;
    margin: 25px 0 16px;
  }

  .sliders__photo-img {
    height: 250px;
  }

  .slider {
    margin-top: -50px !important;
  }
  .slider__text {
    max-width: 450px;
  }

  .geo__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .geo__item {
    max-width: 320px;
  }
  .geo__btn-locations, .geo__btn-franchise {
    display: block;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    margin-bottom: 20px;
  }

  .popupfour__body {
    width: 430px;
  }
  .popupfour__map {
    width: 405px;
  }

  .popupfive__body {
    width: 430px;
  }
  .popupfive__text {
    max-width: 420px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .popupfive__form {
    gap: 10px;
  }
  .popupfive__input {
    padding: 7px 16px;
  }
  .popupfive__textarea {
    padding-bottom: 30px;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__box {
    margin-left: auto;
  }
}
@media (max-width: 429px) {
  .header__ice-cream {
    top: 93px;
  }

  .popupone__buy-img--green, .popupone__buy-img--yellow, .popupone__buy-img--orange {
    width: 96px;
    height: 97px;
  }
  .popupone__buy-item--cream, .popupone__buy-item--coffee, .popupone__buy-item--milkshake {
    width: 100px;
    height: 100px;
  }
  .popupone__buy-list {
    gap: 10px;
  }
  .popupone__buy-text {
    font-size: 14px;
    margin-top: 75px;
  }
  .popupone__buy-form {
    width: 330px;
  }

  .popupthree__video {
    width: 345px;
  }
  .popupthree__text {
    width: 330px;
  }

  .popupfour__map {
    width: 360px;
  }

  .popupfive__text {
    width: 390px;
    padding: 0 10px;
  }
  .popupfive__input, .popupfive__textarea {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .header__plate-logo {
    visibility: hidden;
  }
  .header__ice-cream {
    top: 93px;
  }

  .products__title {
    font-size: 28px;
  }
  .products__title span {
    font-size: 34px;
  }

  .tradition__info-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 55px;
  }
  .tradition__info-number {
    margin: 10px 0;
  }

  .footer__title {
    font-size: 24px;
  }
  .footer__title span {
    font-size: 46px;
  }

  .popupone__buy-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
  }
  .popupone__buy-body {
    width: 355px;
  }
  .popupone__buy-form {
    width: 320px;
  }

  .popupthree__body {
    width: 380px;
  }
  .popupthree__video {
    width: 360px;
  }
  .popupthree__text {
    width: 360px;
    text-align: center;
  }

  .popupfour__body {
    width: 380px;
  }
  .popupfour__map {
    width: 365px;
  }

  .popupfive__body {
    width: 380px;
  }
  .popupfive__text {
    width: 370px;
  }
  .popupfive__input, .popupfive__textarea {
    width: 350px;
  }
}
@media (max-width: 376px) {
  .footer__title {
    width: 315px;
  }

  .popuptwo__body {
    width: 345px;
  }

  .popupthree__body {
    width: 345px;
  }
  .popupthree__video {
    width: 330px;
  }
  .popupthree__text {
    width: 300px;
  }

  .popupfour__body {
    width: 365px;
  }
  .popupfour__map {
    width: 355px;
  }

  .popupfive__title {
    font-size: 17px;
  }
  .popupfive__text {
    font-size: 12px;
  }
  .popupfive__body {
    width: 350px;
  }
  .popupfive__text {
    width: 330px;
  }
  .popupfive__input, .popupfive__textarea {
    width: 320px;
  }
}
@media (max-width: 321px) {
  .header__btn {
    display: none;
  }
  .header__btn-burger {
    display: block;
    margin: 80px auto;
  }

  .products__title {
    font: 26px;
  }
  .products__title span {
    font: 32px;
  }

  .tradition__img {
    width: 278px;
    height: 278px;
  }
  .tradition__box {
    width: 230px;
  }
  .tradition__info-number {
    font-size: 37px;
  }
  .tradition__info-text {
    font-size: 12px;
  }

  .geo__item {
    max-width: 260px;
  }

  .footer__title {
    width: 300px;
    font-size: 20px;
  }
  .footer__title span {
    font-size: 40px;
    line-height: 50px;
  }
  .footer__contacts {
    font-size: 10px;
  }

  .popupone__buy-body {
    width: 280px;
  }
  .popupone__buy-form {
    width: 255px;
  }

  .popuptwo__body {
    width: 300px;
  }
  .popuptwo__list {
    gap: 10px;
  }
  .popuptwo__title {
    margin-top: 30px;
  }
  .popuptwo__cross {
    top: -20px;
    right: 5px;
  }

  .popupthree__body {
    width: 300px;
  }
  .popupthree__video {
    width: 290px;
  }
  .popupthree__text {
    width: 290px;
  }
  .popupthree__cross {
    top: -25px;
    right: 5px;
  }

  .popupfour__body {
    width: 310px;
  }
  .popupfour__map {
    width: 300px;
  }
  .popupfour__cross {
    top: -25px;
    right: 5px;
  }

  .popupfive__title {
    width: auto;
  }
  .popupfive__body {
    width: 310px;
  }
  .popupfive__text {
    width: 306px;
  }
  .popupfive__input, .popupfive__textarea {
    width: 300px;
  }
  .popupfive__cross {
    top: -25px;
    right: 5px;
  }
}
/*# sourceMappingURL=style.css.map */