$white: #FCFCFC;
$black: #131313;
$hover: #F8D24E;
$grey: #ABABAB;
$green: #0A8817;

%button{
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #131313;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
%btn-hover{
	background: $green;
}
%btn-focus{
	background: $green;
	color: $white;
	&::after{
		background-image: url(../images/white-button-arrow.svg);
	}
}
%btn-disable{
	background: $grey;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
	color: $white;
}

.container{
    max-width: 1188px;
    padding: 0 10px;
    margin: 0 auto;
}
.condition{
	&:hover{
		@extend %btn-hover;
		}
	&:focus{
		@extend %btn-focus;
		}
	&:disabled{
		@extend %btn-disable;
		}
}
.header {
    // background-image: url(../images/first-bg.jpg);
	// background-repeat: no-repeat;
	background: #84A278;
		&__top {
			padding-top: 18px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 48px;
		}
		&__burger-cross{
			display: none;
		}

		&__burger-btn {
			width: 20px;
			cursor: pointer;
			position: relative;
			z-index: 1;
			height: 20px;
			display: none;
			&::before {
				content: '';
				position: absolute;
				top: 2px;
				width: 100%;
				height: 2px;
				background-color: $white;
				transition: all 0.5s ease;
				}
			&::after {
				content: '';
				position: absolute;
				bottom: 0px;
				width: 100%;
				height: 2px;
				background-color: $white;
				transition: all 0.5s ease;
				}
  		}
		&__burger-btn span {
			position: absolute;
			width: 100%;
			top: 50%;
			height: 2px;
			background-color: $white;
		}

		  &__burger-btn.header__burger-line--close {
			&::before {
			transform: rotate(45deg);
			top: 50%;
			}
		}
		&__burger-btn.header__burger-line--close {
			&::after {
			transform: rotate(-45deg);
			bottom: 40%;
			}
		}
		&__burger-btn.header__burger-line--close span {
		transform: scale(0); 
		}

		&__nav-list {
			display: flex;
			gap: 27px;
			font-weight: 700;
			line-height: 20px;
		}

		&__nav-item {
			z-index: 1;
		}

		&__nav-link {
			line-height: 20px;
			&:hover{
				color: $hover;
			}
		}

		&__btn {
			@extend %button;
			padding: 12px 53px 12px 34px;
			background-color: $hover;
			position: relative;
			border-radius: 10px;
			transition: .3s;
			cursor: pointer;
			z-index: 1;
			&::after{
				content: '';
				position: absolute;
				background-image: url(../images/button-arrow.svg);
				background-repeat: no-repeat;
				left: 110px;
				width: 12px;
				height: 12px;
				top: 50%;
				transform: translateY(-50%);
				transition: 0.3s;
			}
		}
		&__btn-burger{
			display: none;
		}
		

		&__ice {
			position: relative;
		}

		&__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 42px;
		}

		&__ice-info {
			width: 367px;
			z-index: 1;
		}

		&__ice-title {
			font-size: 38px;
			line-height: 48px;
			font-family: 'Seymour One', sans-serif;
			// color: $white;
			text-transform: uppercase;
			margin-bottom: 28px;
		}

		&__ice-product {
			font-weight: 600;
			color: $black;
			padding: 10px 32px;
			border: 2px solid $hover;
			border-radius: 10px;
			margin-right: 34px;
			&:hover{
				border: 2px solid $green;
			}
			&:focus{
				border: 2px solid $green;
				color: $white;
			}
			&:disabled{
				border: 2px solid $grey;
			}
		}

		&__ice-how {
			font-weight: 600;
			color: $hover;
			text-decoration: underline;
			&:hover{
				color: $green;
			}
			&:focus{
				color: $white;
			}
			&:disabled{
				color: $grey;
			}
		}

		&__ice-number {
			font-weight: 900;
			font-size: 46px;
			line-height: 56px;
			color: $black;
			text-align: right;
		}

		&__ice-list {
		}

		&__ice-item {
		}

		&__ice-text {
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			text-align: right;
			color: $white;
		}

		&__plate {
			display: flex;
			gap: 14px;
			padding-bottom: 65px;
			
		}

		&__plate-logo {
			text-align: center;
			animation: circle 10s infinite linear;
		}
		@keyframes circle {
			0%{
				transform: rotate(0deg);
			}
			100%{
				transform: rotate(360deg);
			}
			
		}

		&__plate-content {
			width: 200px;
			z-index: 10;
		}

		&__plate-text {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 32px;
			margin-top: 67px;
		}
		&__plate-img{
			cursor: pointer;
		}

		&__dots{
			position: absolute;
			top: 153px;
		}
		&__ice-cream{
			position: absolute;
			top: -132px;
			right: 15px;
		}
}

.products {
	background-image: url(../images/products-bg.png);
	background-repeat: no-repeat;
		&__title {
			font-weight: 800;
			font-size: 30px;
			line-height: 37px;
			letter-spacing: 0.04em;
			color: $black;
			text-transform: uppercase;
			padding-top: 60px;
			margin-bottom: 12px;
			text-align: center;
			& span {
				font-family: 'Seymour One', sans-serif;
				font-weight: 400;
				font-size: 36px;
				line-height: 45px;
				text-transform: uppercase;
				display: block;
			}
		}

		&__content {
			margin-top: 303px;
			padding-bottom: 57px;
		}

		&__list {
			display: flex;
			gap: 32px;
		}

		&__item {
			background: #AEC6A5;
			box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
			border-radius: 24px;
			width: 370px;
			position: relative;
			text-align: center;
			display: flex;
			flex-direction: column;
			padding-bottom: 60px;
			&:nth-child(2){
				background: #EFD478;
			}
			&:nth-child(3){
				background: #D6936D;
			}
		}

		&__item-img {
			position: absolute;
			top: -39%;
		}

		&__item-title {
			padding: 166px 0 65px;
			font-weight: 700;
			font-size: 30px;
			line-height: 37px;
			text-transform: uppercase;
			color: $black;
		}

		&__item-text {
			line-height: 28px;
			color: $black;
			flex: 1 1 auto;
			padding: 0 64px 60px 64px;
		}

		
		&__item-link{
			background-image: url(../images/arrow-cards.svg);
			background-repeat: no-repeat;
			width: 60px;
			height: 30px;
			margin: 0 auto;
			transition: all .5s;
			&:hover{
				background-image: url(../images/arrow-cards2.svg);
			}
			&:focus{
				background-image: url(../images/arrow-cards3.svg);
			}
			
		}

		&__item-arrow:hover{
			width: 50;
		}
		
}

.tradition {
	background: #84A178;
	padding: 60px 0 180px;
		&__title {
			font-weight: 800;
			font-size: 30px;
			line-height: 37px;
			text-transform: uppercase;
			letter-spacing: 0.04em;
			text-align: center;
			margin-bottom: 12px;
			& span{
				font-family: 'Seymour One', sans-serif;
				display: block;
				font-weight: 400;
				font-size: 36px;
				line-height: 45px;
				letter-spacing: 0.06em;
				text-transform: uppercase;
			}
		}

		&__content {
			display: flex;
			gap: 100px;
			align-items: center;
			margin-top: 82px;
			margin-bottom: 60px;
		}

		&__img {
		}

		&__box {
			width: 463px;
		}

		&__text {
			line-height: 28px;
			letter-spacing: 0.04em;
		}

		&__btn {
			@extend %button;
			padding: 12px 53px 12px 34px;
			background-color: $hover;
			position: relative;
			border-radius: 10px;
			transition: .3s;
			display: inline-block;
			cursor: pointer;
			margin-top: 48px;
			&::after{
				content: '';
				position: absolute;
				background-image: url(../images/button-arrow.svg);
				background-repeat: no-repeat;
				left: 118px;
				width: 12px;
				height: 12px;
				top: 50%;
				transform: translateY(-50%);
				transition: 0.3s;
			}
		}

		&__info {
		}
		
		&__info-list {
			display: flex;
			gap: 32px;
		}

		&__info-item {
			text-align: center;
		}

		&__info-box {
			background: $hover;
			border-radius: 25px;
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}

		&__info-number {
			font-weight: 700;
			font-size: 58px;
			line-height: 71px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			margin: 40px 0 16px;
		}

		&__info-text {
			line-height: 28px;
			letter-spacing: 0.02em;
		}
}

.container {
}
.sliders {
	background-image: url(../images/slider-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
		&__photo {
			max-width: 1013px;
			margin: 0 auto;
			position: relative;
			top: -95px;
		}

		&__photo-item {
		}
		
		&__photo-img {
			margin: 0 auto;
			border-radius: 24px;
			width: 1013px;
			height: 442px;
			object-fit: cover;
		}
}


.slider{
	padding-bottom: 200px;
        &__img{
        margin: 0 auto;
        padding-bottom: 32px;
    }
        &__text{
            background: #84A178;
            border-radius: 24px;
            text-align: center;
            margin: 0 auto;
            padding: 39px 73px;
            color: #FCFCFC;
            max-width: 750px;
            
        }
        &__name-geo{
            text-align: center;
            color: #131313;
            margin: 32px 0 15px 0;
    }
}
.slick-dots{
	position: relative;
	top: 0;
}
.slick-dots li button{
    color: #D9D9D9;
}
.slick-dotted.slick-slider{
	margin: 0;
}
.slick-dots li.slick-active button:before{
    color:#84A178 ;
}

.geo {
	background: #84A178;
		&__content {
			position:relative;
			top: -96px;
		}

		&__list {
			display: flex;
			gap: 32px;
			margin-bottom: 64px;
		}

		&__item {
			padding: 40px;
			max-width: 368px;
			background: #FFFFFF;
			box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
			border-radius: 24px;
			line-height: 30px;
			letter-spacing: 0.04em;
			font-weight: 500;
		}

		&__box-title {
			display: inline-block;
			background: $hover;
			padding: 10px 11px 7px 11px;
			border-radius: 6px;
			margin-bottom: 32px;
		}
		&__title{
			color: $black;
			text-transform: uppercase;
		}
		
		&__city {
			color: $black;
			margin-bottom: 8px;
			font-weight: 500;
		}

		&__address {
			display: inline-block;
			color: #D6936D;
			padding-bottom: 32px;
			&:hover{
				text-decoration: underline;
			}
		}

		&__day-first {
			padding-top: 32px;
			color: $black;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: #E1E1E1;
				top: 0;
			}
		}
		
		&__day-second{
			margin-top: 12px;
			color: $black;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: #E1E1E1;
				top: 92px;
			}
		}

		&__time {
			color: $grey;
			
		}

		&__tel {
			display: inline-block;
			color: $black;
			margin-top: 64px;
		}

		&__mail {
			color: $black;
		}

		&__btn-box{
			max-width: 410px;
			margin: 0 auto;
			margin-top: 64px;
		}

		&__btn-locations {
			@extend %button;
			background: #F8D24E;
			border-radius: 10px;
			padding: 12px 52px 12px 34px;
			position: relative;
			transition: .3s;
			margin-right: 16px;
			&::after{
				content: '';
				position: absolute;
				background-image: url(../images/button-arrow.svg);
				background-repeat: no-repeat;
				left: 150px;
				width: 12px;
				height: 12px;
				top: 50%;
				transform: translateY(-50%);
				transition: .3s;
			}
			&:hover{
				@extend %btn-hover;
				}
			&:focus{
				@extend %btn-focus;
				}
			&:disabled{
				@extend %btn-disable;
				}
		}

		&__btn-franchise {
			@extend %button;
			padding: 10px 63px 10px 46px;
			border: 2px solid #F8D24E;
			border-radius: 10px;
			position: relative;
			transition: .3s;
			&::after{
				content: '';
				position: absolute;
				background-image: url(../images/button-arrow.svg);
				background-repeat: no-repeat;
				left: 138px;
				width: 12px;
				height: 12px;
				top: 50%;
				transform: translateY(-50%);
				transition: .3s;
			}
			&:hover{
				border: 2px solid #0A8817;
				}
			&:focus{
				@extend %btn-focus;
				background: transparent;
				}
			&:disabled{
				@extend %btn-disable;
				background: transparent;
				}
		}
}

.footer {
	background: #84A178;
		&__content {
			display: flex;
			justify-content: space-between;
			position: relative;
			align-items: center;
			&::after{
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				background: #E1E1E1;
				bottom: 0;
			}
		}

		&__title {
			font-size: 30px;
			line-height: 37px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			margin-bottom: 14px;
			& span{
				display: block;
				font-weight: 700;
				font-size: 58px;
				line-height: 71px;
				letter-spacing: 0.06em;
				text-transform: uppercase;
			}
		}

		&__box {
		}

		&__list {
			display: flex;
			gap: 30px;
			justify-content: flex-end;
		}

		&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 34px;
			height: 34px;
			background: $hover;
			border-radius: 50%;
			transition: .3s;
			cursor: pointer;
			&:hover .footer__img path{
				fill: $white;
			}
			// &:hover{
			// 	width: 32px;
			// 	height: 32px;
			// }
			// &:focus{
			// 	width: 38px;
			// 	height: 38px;
			// }
		}

		&__link {
			display: flex;
		}

		&__img {
			transition: .3s;
		}

		&__contacts {
			display: flex;
			margin-top: 40px;
			padding-bottom: 54px;

		}

		&__contacts-text {
			letter-spacing: 0.02em;
			color: $black;
			font-weight: 700;
		}

		&__contacts-tel {
			letter-spacing: 0.02em;
			color: $white;
			font-weight: 700;
		}

		&__copyright {
			padding: 12px 0;
			font-weight: 700;
			font-size: 12px;
			line-height: 22px;
			letter-spacing: 0.02em;
			color: #7A7A7A;
			text-align: center;
		}
}
 .popupone {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
		
	
		&__area{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		&__active{
			opacity: 1;
			visibility: visible;
			
		}
		

		&__buy-body {
			width: 564px;
			background: #FCFCFC;
			border: 2px solid #F8D24E;
			border-radius: 10px;
			transition:all .8s;
			opacity: 0;
			transform: translateY(-100%);
			margin: 0 20px;
		}

		&__buy-content {
			position: relative;
			// transition: .8s;
			// opacity: 0;
			// transform: translateY(-100%);
		}

		&__animation{
			opacity: 1;
			transform: translateY(0);
		}

		&__buy-cross {
			position: absolute;
			font-size: 45px;
			color: $black;
			top: -12px;
			right: 20px;
			transform: rotate(45deg);
			transition: all .5s;
			&:hover{
				transform: rotate(135deg);
			}
		}

		&__buy-title {
			font-family: 'Seymour One';
			font-size: 20px;
			color: $black;
			text-align: center;
			margin: 32px 0 103px;
		}

		&__buy-box {
			margin-bottom: 40px;
		}

		&__buy-list {
			display: flex;
			justify-content: center;
			gap: 32px;
		}

		&__buy-item--cream {
			border: 2px solid #96AF8C;
			filter: drop-shadow(0px 5px 19px rgba(212, 20, 67, 0.1));
			border-radius: 16px;
			width: 132px;
			height: 135px;
			transition: all .5s;
			position: relative;
			cursor: pointer;
			&:hover{
				background-color: #96AF8C;
			}
		}
		&__buy-item--coffee {
			border: 2px solid #EFD478;
			filter: drop-shadow(0px 5px 19px rgba(212, 20, 67, 0.1));
			border-radius: 16px;
			width: 132px;
			height: 135px;
			transition: all .5s;
			position: relative;
			cursor: pointer;
			&:hover{
				background-color: #EFD478;
			}
		}
		&__buy-item--milkshake {
			border: 2px solid #D6936D;
			filter: drop-shadow(0px 5px 19px rgba(212, 20, 67, 0.1));
			border-radius: 16px;
			width: 132px;
			height: 135px; 
			transition: all .5s;
			position: relative;
			cursor: pointer;
			&:hover{
				background-color: #D6936D;
			}
		}

		&__buy-img {
			position: absolute;
			width: 131px;
			top: -60%;
			z-index: 1;
		}
		&__buy-img--green {
			background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
			box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
			border-radius: 50%;
			position: absolute;
			width: 130px;
			height: 130px;
			top: -55%;
		}
		&__buy-img--yellow {
			background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
			box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
			border-radius: 50%;
			position: absolute;
			width: 130px;
			height: 130px;
			top: -55%;
		}
		&__buy-img--orange {
			background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
			box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
			border-radius: 50%;
			position: absolute;
			width: 130px;
			height: 130px;
			top: -55%;
		}

		&__buy-text {
			letter-spacing: 0.04em;
			text-transform: uppercase;
			line-height: 20px;
			font-weight: 700;
			color: $black;
			margin-top: 95px;
			text-align: center;
		}

		&__buy-form {
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 368px;
		}

		&__buy-name {
			font-size: 14px;
			padding: 11px 16px;
			color: $black;
			background: rgba(248, 210, 78, 0.1);
			border: 1px solid #84A178;
			border-radius: 10px;
		}

		&__buy-textarea {
			font-size: 14px;
			padding: 11px 16px 53px 16px;
			color: $black;
			background: rgba(248, 210, 78, 0.1);
			border: 1px solid #84A178;
			border-radius: 10px;
			resize: none;
		}

		&__buy-btn {
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			color: $black;
			padding: 12px 34px;
			background: #F8D24E;
			border-radius: 10px;
			border: none;
			margin: 32px auto;
			display: block;
			cursor: pointer;
		}
}

.popuptwo {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;

		&__area {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0
		}

		&__body{
			width: 564px;
			background: #FCFCFC;
			border: 2px solid #F8D24E;
			border-radius: 10px;
			transition:all .8s;
			opacity: 0;
			transform: translateY(-100%);
			margin: 0 20px;

		
		}
		&__animation{
			opacity: 1;
			transform: translateY(0);
		}

		&__active{
			opacity: 1;
			visibility: visible;
		}

		&__content {
			position: relative;
		}

		&__cross {
			position: absolute;
			font-size: 45px;
			color: $black;
			top: -12px;
			right: 20px;
			transform: rotate(45deg);
			transition: all .5s;
			&:hover{
				transform: rotate(135deg);
			}
		}

		&__title {
			font-family: 'Seymour One';
			font-size: 20px;
			color: $black;
			margin: 32px 0 24px;
			text-align: center;
		}

		&__img {
			margin-bottom: 24px;
			margin: 0 auto;
		}

		&__list {
			display: flex;
			gap: 20px;
			justify-content: center;
			margin-bottom: 48px;
		}

		&__item {
			border: 2px solid #9CBE8F;
			border-radius: 40px;
			width: 61px;
			height: 90px;
		}

		&__item-title{
			margin: 7px 0 14px;
			font-size: 12px;
			line-height: 15px;
			color: $black;
			text-align: center;
		}

		&__item-box {
			width: 53px;
			height: 53px;
			background: #9CBE8F;
			border: 2px solid #9CBE8F;
			box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
		}

		&__item-text {
			font-weight: 500;
			font-size: 12px;
			line-height: 28px;
			color: $black;
			
		}

		&__list-title {
			font-weight: 500;
			font-size: 20px;
			text-align: center;
			color: $black;
			margin-top: 48px ;
		}

		&__ingredients-list {
			display: flex;
			flex-direction: column;
			gap: 11px;
			width: 488px;
			margin: 24px auto ;
		}

		&__ingredients-item {
			display: flex;
			justify-content: space-between;
		}

		&__ingredient {
			line-height: 25px;
			font-size: 14px;
			letter-spacing: 0.04em;
			color: $black;
		}

		&__size {
			line-height: 25px;
			font-size: 14px;
			letter-spacing: 0.04em;
			color: $black;
		}
}

.popupthree {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;

		&__area {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}

		&__body {
			width: 568px;
			background: #FCFCFC;
			border: 2px solid #F8D24E;
			border-radius: 10px;
			transition: all .8s;
			opacity: 0;
			transform: translateY(-100%);
			margin: 0 20px;

		}

		&__animation{
			opacity: 1;
			transform: translateY(0);
		}

		&__active{
			opacity: 1;
			visibility: visible;
		}

		&__content {
			position: relative;
		}

		&__cross {
			position: absolute;
			font-size: 45px;
			color: $black;
			top: -12px;
			right: 20px;
			transform: rotate(45deg);
			transition: all .5s;
			&:hover{
				transform: rotate(135deg);
			}
		}

		&__title {
			font-family: 'Seymour One';
			font-size: 20px;
			margin: 32px 0;
			color: $black;
			text-align: center;
		}

		&__video-box {
		}

		&__video{
			width: 448px;
			height: 205px;
			display: block;
			margin: 0 auto;
			border-radius: 10px;
		}

		&__text {
			width: 448px;
			line-height: 22px;
			color: $black;
			padding: 32px 0;
			display: block;
			margin: 0 auto;
		}
}


.popupfour {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
		&__area {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}

		&__body {
			width: 568px;
			background: #FCFCFC;
			border: 2px solid #F8D24E;
			border-radius: 10px;
			transition: all .8s;
			opacity: 0;
			transform: translateY(-100%);
			margin: 0 20px;

		}

		&__animation{
			opacity: 1;
			transform: translateY(0);
		}

		&__active{
			opacity: 1;
			visibility: visible;
		}

		&__content {
			position: relative;
			text-align: center;
		}

		&__cross {
			position: absolute;
			font-size: 45px;
			color: $black;
			top: -12px;
			right: 20px;
			transform: rotate(45deg);
			transition: all .5s;
			&:hover{
				transform: rotate(135deg);
			}
		}

		&__title {
			font-family: 'Seymour One';
			font-size: 20px;
			margin: 32px 0;
			color: $black;
			text-align: center;
		}

		&__map {
			width: 448px;
			height: 260px;
			border-radius: 10px;
			margin: 0 auto;
			display: block;
		}

		&__link {
			margin: 32px 0;
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			color: $black;
			background: #F8D24E;
			padding: 12px 34px;
			border-radius: 10px;
			display: inline-block;
		}
}


.popupfive {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
		&__area {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}

		&__body {
			width: 568px;
			background: #FCFCFC;
			border: 2px solid #F8D24E;
			border-radius: 10px;
			transition: all .8s;
			opacity: 0;
			transform: translateY(-100%);
			margin: 0 20px;

		}

		&__animation{
			opacity: 1;
			transform: translateY(0);
		}

		&__active{
			opacity: 1;
			visibility: visible;
		}

		&__content {
			position: relative;
			text-align: center;
		}

		&__cross {
			position: absolute;
			font-size: 45px;
			color: $black;
			top: -12px;
			right: 20px;
			transform: rotate(45deg);
			transition: all .5s;
			&:hover{
				transform: rotate(135deg);
			}
		}

		&__title {
			font-family: 'Seymour One';
			font-size: 20px;
			margin: 32px auto 24px;			
			color: $black;
			text-align: center;
			width: 322px;
		}

		&__text {
			width: 448px;
			color: $black;
			margin: 0 auto;
			text-align: start;
			margin-bottom: 32px;
		}

		&__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 16px;
		}

		&__input {
			background: rgba(248, 210, 78, 0.1);
			border: 1px solid #84A178;
			border-radius: 10px;
			width: 368px;
			padding: 11px 16px;
			line-height: 20px;
			font-size: 14px;
			color: $black;
		}

		&__textarea {
			background: rgba(248, 210, 78, 0.1);
			border: 1px solid #84A178;
			border-radius: 10px;
			width: 368px;
			padding: 11px 16px 53px 16px;
			line-height: 20px;
			font-size: 14px;
			color: $black;
			margin-bottom: 32px;
			resize: none;
		}

		&__btn {
			background: #F8D24E;
			border-radius: 10px;
			padding: 12px 34px;
			border: none;
			margin-bottom: 32px;
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			cursor: pointer;
		}
}









@media(max-width:1201px){
	// .header{
	// 	background: url(../images/first-bg.jpg);
	// 	background-size: cover;
	// 	&__dots{
	// 		display: none;
	// 	}
	// 	&__ice-cream{
	// 		display: none;
	// 	}
	// }
	
}
@media(max-width:769px){
	.header{
		&__btn{
			margin-left: 38px;
		}
		&__burger-btn{
			display: block;
			margin-left: auto;
		}
		&__burger-cross{
			display: block;
			z-index: 12;
			position: absolute;
    		right: 32px;
    		top: 32px;
    		font-size: 50px;
			transform: translateY(-250%);
			transition: all .5s;
		}
		&__burger-cross--active{
			transform: translateY(0);
			transform: rotate(45deg);

		}
		&__logo{
			width: 41px;
			height: 44px;
		}
		&__nav{
			position: absolute;
			background: #85A279;
			width: 100%;
			height: 100vh;
			z-index: 11;
			top: 0;
			transform: translateY(-200%);
			transition: all .5s;
		}
		&__nav--active{
			transform: translateY(0);
		}
		&__top{
			position: relative;
		}
		&__link-logo{
			z-index: 12;
		}
		&__nav-list{
			    flex-direction: column;
				align-items: center;
				gap: 40px;
				margin-top: 140px;
		}
		&__nav-link{
			font-weight: 700;
			font-size: 48px;
			line-height: 59px;
			&:hover{
				color: $black;
			}
		}
		&__ice-title{
			width: 185px;
			font-size: 18px;
			line-height: 23px;
			& span{
				font-size: 24px;
				line-height: 13px;
			}
		}
		&__ice-product{
			padding: 7px 10px;
			font-size: 8px;
			line-height: 10px;
		}
		&__ice-how{
			font-size: 8px;
			line-height: 10px;
		}
		&__ice-number{
			font-size: 28px;
			line-height: 34px;
		}
		&__ice-text{
			font-size: 8px;
			line-height: 10px;
		}
		&__ice-item{
			margin-bottom: 20px;
		}
		&__ice-cream{
			height: 500px;
			top: -48px;
		}
		&__plate{
			align-items: center;
		}
		&__plate-logo{
			width: 152px;
    		height: 152px;
		}
		&__plate-text{
			width: 151px;
    		font-size: 12px;
    		line-height: 17px;
			margin: 0 0 15px 0;
		}
		&__dots{
			display: none;
		}
	}
	.products{
		&__content{
			margin-top: 200px;
		}
		&__item{
			width: 240px;
			padding-bottom: 0;
		}
		&__item-title{
			font-size: 22px;
			line-height: 27px;
			padding: 107px 0 40px;
		}
		&__item-text{
			font-size: 14px;
			line-height: 25px;
			padding: 0 28px 87px 28px;
		}
	}
	.tradition{
		padding-bottom: 204px;
		&__img{
			width: 336px;
			height: 356px;
		}
		&__text{
			font-size: 12px;
			line-height: 21px;
		}
		&__info-number{
			font-size: 48px;
			line-height: 59px;
		}
		&__info-text{
			font-size: 14px;
			line-height: 24px;
		}
		&__info-item{
			width: 152px;
		}
		&__info-list{
			gap: 80px;
			justify-content: center;
		}
	}
	.sliders{
		&__photo-img{
			width: 704px;
			height: 327px;
		}
		&__photo{
			// width: 704px;
			top: -165px;
		}
	}
	.slider{
		margin-bottom: 383px;
		&__text{
			max-width: 705px;
			padding: 28px 80px;
		}
	}
	.geo{
		
		&__item{
			max-width: 224px;
			padding: 40px 24px;
			font-size: 14px;
			line-height: 26px;
		}
		&__box-title{
			font-size: 16px;
			line-height: 30px;
		}
		
		&__address{
			padding-bottom: 26px;
		}
		&__list{
			margin-bottom: 60px;
		}
	}
	.footer{
		margin-top: -60px;
		&__title{
			font-size: 26px;
			line-height: 32px;
			width: 352px;
			& span{
				font-size: 48px;
				line-height: 59px;
			}
		}
		&__contacts{
			font-size: 14px;
			line-height: 26px;
			margin-top: 32px;
			padding-bottom: 0;
		}
		
	}
}
@media(max-width:481px){
	.header{
		&__btn{
			padding: 10px 34px;
			font-size: 13px;
			line-height: 16px;
		}
		&__ice-cream{
			height: 350px;
			top: 82px;
			right: 0;
		}
		&__plate-text{
			display: none;
		}
		&__plate-link{
			display: none;
		}
		&__nav-link{
			font-size: 35px;
			line-height: 50px;
		}
	}
	.popupone{
		&__buy-name{
			font-size: 13px;
			padding: 4px 10px;
		}
		&__buy-textarea{
			font-size: 13px;
			padding: 5px 10px 30px 10px;
		}
		&__buy-img{
			width: 115px;
		}
		&__buy-img--green,
		&__buy-img--yellow,
		&__buy-img--orange{
			width: 115px;
			height: 115px;
		}
		&__buy-item--cream,
		&__buy-item--coffee,
		&__buy-item--milkshake{
			width: 120px;
			height: 120px;
		}
		&__buy-text{
			margin-top: 85px;
		}
		
	}
	.products{
		background-size: cover;
		&__list{
			flex-direction: column;
			align-items: center;
			gap: 180px;
		}
		&__item-img{
			top: -28%;
		}
		&__item-text{
			height: 237px;
		}
	}
	.popuptwo{
		&__ingredients-list{
			width: 300px;
		}
		&__title{
			font-size: 17px;
			margin: 18px 0 13px;
		}
		&__img{
			width: 155px;
		}
		&__body{
			width: 385px;
		}
	}
	.tradition{
		&__title{
			font-size: 26px;
			line-height: 30px;
			& span{
				font-size: 30px;
				width: 245px;
				margin: 0 auto;
			}
		}
		&__content{
			flex-direction: column;
			margin-top: 60px;
			gap: 55px;
		}
		&__box{
			width: 300px;
			text-align: center;
		}
		&__info-list{
			gap: 35px;
		}
		&__info-number{
			font-size: 43px;
			margin: 25px 0 16px;
		}
	}
	.sliders{
		&__photo{
			// max-width: 450px;
		}
		&__photo-img{
			height: 250px;
		}
	}
	.slider{
		margin-top: -50px !important;
		&__text{
			max-width: 450px;
		}
	}
	.geo{
		&__list{
			flex-direction: column;
			align-items: center;
		}
		&__item{
			max-width: 320px;
		}
	}
	.popupfour{
		&__body{
			width: 430px;
		}
		&__map{
			width: 405px;
		}
	}
	.popupfive{
		&__body{
			width: 430px;
		}
		&__text{
			max-width: 420px;
			text-align: center;
			font-size: 14px;
			line-height: 22px;
		}
		&__form{
			gap: 10px;
		}
		&__input{
    		padding: 7px 16px;
		}
		&__textarea{
			padding-bottom: 30px;
		}
	}
	.footer{
		&__content{
			flex-direction: column;
			align-items: flex-start;
		}
		&__box{
			margin-left: auto;
		}
	}
}
@media(max-width:429px){
	.header{
		&__ice-cream{
			top: 93px;
		}
	}
	.popupone{
		&__buy-img--green,
		&__buy-img--yellow,
		&__buy-img--orange{
			width: 96px;
			height: 97px;
		}
		&__buy-item--cream,
		&__buy-item--coffee,
		&__buy-item--milkshake{
			width: 100px;
			height: 100px;
		}
		&__buy-list{
			gap: 10px;
		}
		&__buy-text{
			font-size: 14px;
			margin-top: 75px;
		}
		&__buy-form{
			width: 330px;
		}
	}
	.popupthree{
		&__video{
			width: 345px;
		}
		&__text{
			width: 330px;
		}
	}
	.popupfour{
		&__map{
			width: 360px;
		}
	}
	.popupfive{
		&__text{
			width: 390px;
			padding: 0 10px;
		}
		&__input,
		&__textarea{
			width: 350px;
		}
	}
}
@media(max-width:400px){
	.header{
		&__plate-logo{
			visibility: hidden;
		}
		&__ice-cream{
			top: 93px;
		}
	}
	.products{
		&__title{
			font-size: 28px;
		}
		&__title span{
			font-size: 34px;
		}
	}
	.tradition{
		&__info-list{
			flex-direction: column;
			align-items: center;
			gap: 55px;
		}
		&__info-number{
			margin:10px 0;
		}
	}
	.geo{
		&__btn-locations,
		&__btn-franchise{
			left: 50%;
			transform: translate(-50%);
			margin-bottom: 20px;
		}
	}
	.footer{
		&__title{
			font-size: 24px;
		}
		&__title span{
			font-size: 46px;
		}
	}
	.popupone{
		&__buy-list{
			flex-direction: column;
			gap: 80px;
			align-items: center;
			overflow: auto;
		}
		&__buy-body{
			width: 355px;
		}
		&__buy-form{
			width: 320px;
		}
	}
	.popupthree{
		&__body{
			width: 380px;
		}
		&__video{
			width: 360px;
		}
		&__text{
			width: 360px;
			text-align: center;
		}
	}
	.popupfour{
		&__body{
			width: 380px;
		}
		&__map{
			width: 365px;
		}
	}
	.popupfive{
		&__body{
			width: 380px;
		}
		&__text{
			width: 370px;
		}
		&__input,
		&__textarea{
			width: 350px;
		}
	}
}
@media(max-width:376px){
	.footer{
		&__title{
			width: 315px;
		}
	}
	.popuptwo{
		&__body{
			width: 345px;
		}
	}
	.popupthree{
		&__body{
			width: 345px;
		}
		&__video{
			width: 330px;
		}
		&__text{
			width: 300px;
		}
	}
	.popupfour{
		&__body{
			width: 365px;
		}
		&__map{
			width: 355px;
		}
	}
	.popupfive{
		&__title{
			font-size: 17px;
		}
		&__text{
			font-size: 12px;
		}
		&__body{
			width: 350px;
		}
		&__text{
			width: 330px;
		}
		&__input,
		&__textarea{
			width: 320px;
		}
	}
}
@media(max-width:321px){
	.header{
		&__btn{
			display: none;
		}
		&__btn-burger{
			display: block;
			margin: 80px auto;
		}
	}
	.products{
		&__title{
			font: 26px;
		}
		&__title span{
			font: 32px;
		}
	}
	.tradition{
		&__img{
			width: 278px;
			height: 278px;
		}
		&__box{
			width: 230px;
		}
		&__info-number{
			font-size: 37px;
		}
		&__info-text{
			font-size: 12px;
		}
	}
	.geo{
		&__item{
			max-width: 260px;
		}
	}
	.footer{
		&__title{
			width: 300px;
			font-size: 20px;
		}
		&__title span{
			font-size: 40px;
			line-height: 50px;
		}
		&__contacts{
			font-size: 10px;
		}
	}
	.popupone{
		&__buy-body{
			width: 280px;
		}
		&__buy-form{
			width: 255px;
		}
	}
	.popuptwo{
		&__body{
			width: 300px;
		}
		&__list{
			gap: 10px;
		}
		&__title{
			margin-top: 30px;
		}
		&__cross{
			top: -20px;
			right: 5px;
		}
	}
	.popupthree{
		&__body{
			width: 300px;
		}
		&__video{
			width: 290px;
		}
		&__text{
			width: 290px;
		}
		&__cross{
			top: -25px;
			right: 5px;
		}
	}
	.popupfour{
		&__body{
			width: 310px;
		}
		&__map{
			width: 300px;
		}
		&__cross{
			top: -25px;
			right: 5px;
		}
	}
	.popupfive{
		&__title{
			width: auto;
		}
		&__body{
			width: 310px;
		}
		&__text{
			width: 306px;
		}
		&__input,
		&__textarea{
			width: 300px;
		}
		&__cross{
			top: -25px;
			right: 5px;
		}
	}
	
}
